EXPO_PUBLIC_API_SCHEME=http
EXPO_PUBLIC_API_HOST=127.0.0.1
EXPO_PUBLIC_API_PORT=8000
EXPO_PUBLIC_API_PREFIX=/api/v1
EXPO_PUBLIC_API_TIMEOUT_MS=12000
EXPO_PUBLIC_APP_NAME=EduRush
EXPO_PUBLIC_ENABLE_API_DEBUG=false
